// this is called deployment decriptor and it defines url for the servlet
// and also handles the coding information.
<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Lesson41</display-name> 
  <welcome-file-list>
    <welcome-file>Lesson41</welcome-file> // location of servlet after the url
  </welcome-file-list>
</web-app>